In [1]:
import warnings
warnings.filterwarnings('ignore')

In [11]:
import datasets
train_df = datasets.load_from_disk("data/train")
test_df = datasets.load_from_disk("data/test")
validate_df = datasets.load_from_disk("data/validate")
validate_decomposed = datasets.load_from_disk("data/decomposed_validate")

In [3]:
import pandas as pd

def to_pandas(item):
  return pd.DataFrame(item['table']["rows"],columns=item['table']["header"])


item = train_df[919]
to_pandas(item)

,Class,Type,Fleet Numbers,Quantity Made,Date Made,1958 Cié,1958 Uta,Date Withdrawn
0,Pp,4 - 4 - 0,"12 , 25 , 42 - 46 , 50 , 70 - 71 , 74 - 77 , 1...",17,1896 - 1911,5,7,1957 - 1963
1,Pg,0 - 6 - 0,"10 - 11 , 78 , 100 - 103",7,1899 - 1904,0,7,1960 - 1964
2,Q,4 - 4 - 0,"120 - 125 , 130 - 136",13,1899 - 1904,5,4,1951 - 1963
3,Qg,0 - 6 - 0,152 - 155,4,1903 - 1904,4,0,1962 - 1963
4,P,4 - 4 - 0,"88 - 89 , 104 - 105",4,1904 - 1906,1,0,1956 - 1960
5,Ql,4 - 4 - 0,"24 , 113 - 114 , 126 - 128 , 156 - 157",8,1904 - 1910,0,3,1932 - 1960
6,Qgt,0 - 6 - 2T,98 - 99,2,1905,1,0,1957 - 1960
7,Lqg,0 - 6 - 0,"78 , 108 , 110 - 111 , 158 - 164",11,1906 - 1908,6,5,1958 - 1963
8,Rt,0 - 6 - 4T,"22 - 23 , 166 - 167",4,1908 - 1911,0,4,1958 - 1963
9,Nqg,0 - 6 - 0,"9 , 38 - 39 , 109 , 112",5,1911,2,3,1958 - 1963
10,Nlqg,0 - 6 - 0,165,1,1911,0,1,1961
11,Qgt2,0 - 6 - 2T,168 - 169,2,1911,-,-,1957
12,S,4 - 4 - 0,170 - 174,5,1913,3,2,1964 - 1965
13,Sg,0 - 6 - 0,"37 , 40 - 41 , 137 - 138",5,1913,3,2,1961 - 1965

In [4]:
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
model_path = "omnitab"
model = AutoModelForSeq2SeqLM.from_pretrained(model_path)
tokenizer = AutoTokenizer.from_pretrained(model_path)

In [5]:
from typing import Dict
import pandas as pd

def tokenization_with_answer(examples):
    tables_query_answers = [[],[],[]]

    for table, query, summary in zip(examples['table'], examples['query'], examples['summary']):
        try:
            tables_query_answers[0].append(pd.DataFrame(table['rows'], columns=table['header']))
            tables_query_answers[1].append(query)
            tables_query_answers[2].append(summary)
        except:
            continue
    
    model_inputs = tokenizer(tables_query_answers[0], tables_query_answers[1], padding=True, truncation=True, max_length=1024)
    model_inputs['labels'] = tokenizer(answer=tables_query_answers[2], padding=True, truncation=True, max_length=128)["input_ids"] 
    
    return model_inputs

tokenized_dataset_train = train_df.map(tokenization_with_answer, batched=True)
tokenized_dataset_test = test_df.map(tokenization_with_answer, batched=True)

processed_data_train = tokenized_dataset_train.remove_columns(['table','summary', 'row_ids', 'example_id', 'query'])
processed_data_test = tokenized_dataset_test.remove_columns(['table','summary', 'row_ids', 'example_id', 'query'])

Map:   0%|          | 0/2000 [00:00<?, ? examples/s]

Map:   0%|          | 0/500 [00:00<?, ? examples/s]

In [10]:
processed_data_train

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 2000
})

In [12]:
from transformers import Seq2SeqTrainingArguments, Seq2SeqTrainer, DataCollatorForSeq2Seq

def postprocess_text(preds, labels):
        preds = [pred.strip() for pred in preds]
        labels = [label.strip() for label in labels]

        # rougeLSum expects newline after each sentence
        preds = ["\n".join(nltk.sent_tokenize(pred)) for pred in preds]
        labels = ["\n".join(nltk.sent_tokenize(label)) for label in labels]

        return preds, labels

def metric_fn(eval_predictions):
    predictions, labels = eval_predictions
    decoded_predictions = tokenizer.batch_decode(predictions, skip_special_tokens=True)
    for label in labels:
        label[label < 0] = tokenizer.pad_token_id  # Replace masked label tokens
    decoded_labels = tokenizer.batch_decode(labels, skip_special_tokens=True)
    
    decoded_predictions, decoded_labels = postprocess_text(decoded_predictions, decoded_labels)

    rouge = evaluate.load('rouge')

    # Compute ROUGE scores
    rouge_results = rouge.compute(predictions=decoded_predictions, references=decoded_labels)

    return rouge_results

data_collator = DataCollatorForSeq2Seq(tokenizer=tokenizer, model= model)

train_args = Seq2SeqTrainingArguments(
    output_dir="./train_weight_omnitab",
    learning_rate=3e-5,
    per_device_train_batch_size=22,
    per_device_eval_batch_size=8,
    num_train_epochs=10,
    evaluation_strategy="epoch",
    save_strategy = "epoch",
    weight_decay=0.01,
    save_total_limit=5,
    warmup_ratio=0.03,
    load_best_model_at_end=True,
    predict_with_generate=True,
    overwrite_output_dir= True,
    gradient_accumulation_steps = 2
)


trainer = Seq2SeqTrainer(
    model,
    train_args,
    train_dataset=processed_data_train,
    eval_dataset=processed_data_test,
    tokenizer=tokenizer,
    data_collator=data_collator,
    compute_metrics=metric_fn
)

Detected kernel version 4.18.0, which is below the recommended minimum of 5.5.0; this can cause the process to hang. It is recommended to upgrade the kernel to the minimum version or higher.

In [9]:
from datasets import concatenate_datasets
import nltk
import evaluate

trainer.train()

There were missing keys in the checkpoint model loaded: ['model.encoder.embed_tokens.weight', 'model.decoder.embed_tokens.weight', 'lm_head.weight'].

TrainOutput(global_step=450, training_loss=0.8654727511935764, metrics={'train_runtime': 3778.0564, 'train_samples_per_second': 5.294, 'train_steps_per_second': 0.119, 'total_flos': 3.717603609005261e+16, 'train_loss': 0.8654727511935764, 'epoch': 9.89})

In [10]:
validate_df = datasets.load_from_disk("data/validate")
validate_df_size = len(validate_df)
step_size = 3
num_batches = validate_df_size // step_size

valid = []

for i in range(num_batches):
    start_index = i * step_size
    end_index = (i + 1) * step_size
    valid.append(validate_df.select(range(start_index, end_index)))

# If there are remaining data points that don't fit into full batches of size 3
if validate_df_size % step_size != 0:
    remaining_data = validate_df_size % step_size
    valid.append(validate_df.select(range(validate_df_size - remaining_data, validate_df_size)))

In [11]:
import numpy as np
rougeL = []
bert = []
# bertscore = evaluate.load("bertscore")

for i in range(len(valid)):
    validate_df = valid[i].map(tokenization_with_answer, batched=True)
    predict_results = trainer.predict(validate_df, max_length = 1024)
    metrics = predict_results.metrics
    predictions = tokenizer.batch_decode(predict_results.predictions, skip_special_tokens=True, clean_up_tokenization_spaces=True)
    predictions = [pred.strip() for pred in predictions]
    
    # bert_score = bertscore.compute(predictions=predictions, references=valid[i]['summary'], lang = "en")
    rougeL.append(metrics['test_rougeLsum'])
    # bert.append(np.mean(bert_score['f1']))

sum(rougeL)/len(rougeL)

Map: 100%|██████████| 3/3 [00:00<00:00,  3.12 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 21.17 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 48.33 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 53.45 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00,  9.43 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 52.52 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00,  3.01 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00,  9.26 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 49.56 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 55.14 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 40.31 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 50.82 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 64.15 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 34.63 examples/s]

Map: 100%|██████████| 3/3 [00:01<00:00,  2.25 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00,  4.30 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 38.80 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 34.94 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 40.67 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 44.43 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 44.33 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 23.74 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 76.30 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 44.54 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 101.45 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 35.08 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 53.94 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 55.33 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 30.13 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 108.97 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 95.27 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 54.80 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 24.17 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 71.18 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 64.64 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 45.81 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 62.16 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 44.46 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 44.05 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 57.09 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 74.85 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 24.04 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 47.10 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 50.83 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 48.12 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00,  3.25 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 51.27 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 58.28 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 52.92 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 58.58 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 50.51 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 48.13 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 57.36 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 76.96 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 44.92 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 67.91 examples/s]

Map: 100%|██████████| 3/3 [00:01<00:00,  2.48 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 42.25 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00,  8.41 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 56.04 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00,  9.27 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 60.27 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 36.81 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 45.78 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 43.94 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00,  5.94 examples/s]

Map: 100%|██████████| 2/2 [00:00<00:00, 34.79 examples/s]

0.4427862668790004

In [16]:
trainer.save_model("omnitab")

In [13]:
validate_df = datasets.load_from_disk("data/validate")
tokenized_dataset_validate = validate_df.map(tokenization_with_answer, batched=True)
processed_data_validate = tokenized_dataset_validate.remove_columns(['table', 'summary', 'row_ids', 'example_id', 'query'])
from torch.utils.data import DataLoader

validation_dataloader = DataLoader(
    processed_data_validate,
    batch_size=8,  # You can adjust this
    collate_fn=data_collator
)

import torch
from tqdm import tqdm
import nltk
import evaluate
from datasets import concatenate_datasets

model.eval()
all_predictions = []

with torch.no_grad():
    for batch in tqdm(validation_dataloader):
        # Move batch to the same device as the model
        batch = {k: v.to(model.device) for k, v in batch.items()}
        
        # Generate predictions
        outputs = model.generate(
            input_ids=batch['input_ids'],
            attention_mask=batch['attention_mask'],
            max_length=128  # Adjust as needed
        )
        
        # Decode predictions
        decoded_preds = tokenizer.batch_decode(outputs, skip_special_tokens=True)
        all_predictions.extend(decoded_preds)

# Post-process predictions
processed_preds = ["\n".join(nltk.sent_tokenize(pred.strip())) for pred in all_predictions]

# Get the reference summaries
reference_summaries = validate_df['summary']
processed_refs = ["\n".join(nltk.sent_tokenize(ref.strip())) for ref in reference_summaries]

# Compute metrics
rouge = evaluate.load('rouge')
rouge_results = rouge.compute(predictions=processed_preds, references=processed_refs)

print(rouge_results)

Map:   0%|          | 0/200 [00:00<?, ? examples/s]

100%|██████████| 25/25 [01:06<00:00,  2.65s/it]

{'rouge1': 0.4900054344390593, 'rouge2': 0.25062032256417055, 'rougeL': 0.37390804497694863, 'rougeLsum': 0.4404926774885889}

In [14]:
validate_decomposed = datasets.load_from_disk("data/decomposed_validate")
tokenized_dataset_validate_decomposed = validate_decomposed.map(tokenization_with_answer, batched=True)
processed_data_validate_decomposed = tokenized_dataset_validate_decomposed.remove_columns(['table', 'summary', 'row_ids', 'example_id', 'query'])
from torch.utils.data import DataLoader

validation_dataloader = DataLoader(
    processed_data_validate_decomposed,
    batch_size=8,  # You can adjust this
    collate_fn=data_collator
)

import torch
from tqdm import tqdm

model.eval()
decomposed_predictions = []

with torch.no_grad():
    for batch in tqdm(validation_dataloader):
        # Move batch to the same device as the model
        batch = {k: v.to(model.device) for k, v in batch.items()}
        
        # Generate predictions
        outputs = model.generate(
            input_ids=batch['input_ids'],
            attention_mask=batch['attention_mask'],
            max_length=128  # Adjust as needed
        )
        
        # Decode predictions
        decoded_preds = tokenizer.batch_decode(outputs, skip_special_tokens=True)
        decomposed_predictions.extend(decoded_preds)

# Post-process predictions
processed_preds_decomposed = ["\n".join(nltk.sent_tokenize(pred.strip())) for pred in decomposed_predictions]

# Get the reference summaries
reference_summaries = validate_df['summary']
processed_refs = ["\n".join(nltk.sent_tokenize(ref.strip())) for ref in reference_summaries]

# Compute metrics
rouge = evaluate.load('rouge')
rouge_results = rouge.compute(predictions=processed_preds_decomposed, references=processed_refs)

print(rouge_results)

Map:   0%|          | 0/200 [00:00<?, ? examples/s]

100%|██████████| 25/25 [00:31<00:00,  1.28s/it]

{'rouge1': 0.4929236370177368, 'rouge2': 0.2556142155252692, 'rougeL': 0.37678567786803, 'rougeLsum': 0.4437173395736421}

In [16]:
import numpy as np
bertscore = evaluate.load("bertscore")
bert = []
bert_score = bertscore.compute(predictions=processed_preds_decomposed, references=processed_refs, lang = "en")
bert.append(np.mean(bert_score['f1']))
np.average(bert)

Some weights of RobertaModel were not initialized from the model checkpoint at roberta-large and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

0.9015538358688354

In [17]:
bertscore = evaluate.load("bertscore")
bert = []
bert_score = bertscore.compute(predictions=processed_preds, references=processed_refs, lang = "en")
bert.append(np.mean(bert_score['f1']))
import numpy as np
np.average(bert)

Some weights of RobertaModel were not initialized from the model checkpoint at roberta-large and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

0.900832970738411

In [25]:
from datasets import load_dataset
from transformers import AutoTokenizer

# Initialize a tokenizer
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")

# Function to calculate the number of tokens in a table's markdown format
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")

# Function to calculate the number of tokens in a table's markdown format
def count_tokens_in_markdown(df):
    markdown = df.to_markdown(index=False)
    return len(tokenizer.tokenize(markdown))

# List to store differences in token counts for each entry
token_differences = []
token_dfs = []
token_decomposeds = []

# Assume both datasets have the same number of entries
for item_df, item_decomposed in zip(validate_df, validate_decomposed):
    # Convert to DataFrames
    df_1 = to_pandas(item_df)
    df_2 = to_pandas(item_decomposed)
    
    # Calculate token counts
    tokens_df = count_tokens_in_markdown(df_1)
    tokens_decomposed = count_tokens_in_markdown(df_2)
    
    # Calculate the difference and store it
    token_differences.append(abs(tokens_df - tokens_decomposed))
    
    token_dfs.append(tokens_df)
    token_decomposeds.append(tokens_decomposed)

# Calculate the average difference across all entries
average_difference = sum(token_differences) / len(token_differences)

print(f"Average difference in number of tokens across all entries: {average_difference}")
print(np.mean(token_dfs))
print(np.mean(token_decomposeds))

Token indices sequence length is longer than the specified maximum sequence length for this model (531 > 512). Running this sequence through the model will result in indexing errors

Average difference in number of tokens across all entries: 39.98
450.875
416.095

In [26]:
from rouge_score import rouge_scorer
scorer = rouge_scorer.RougeScorer(['rougeLsum'], use_stemmer=True)

rouge_scores_decomposed = []
for pred, ref in zip(processed_preds_decomposed, processed_refs):
    score = scorer.score(ref, pred)
    rouge_scores_decomposed.append(score['rougeLsum'].fmeasure)


rouge_scores = []
for pred, ref in zip(processed_preds, processed_refs):
    score = scorer.score(ref, pred)
    rouge_scores.append(score['rougeLsum'].fmeasure)
    
print(np.average(rouge_scores_decomposed))
print(np.average(rouge_scores))

0.46026598461125856
0.45748969297451986

In [38]:
import random

random_indices = random.sample(range(200), 100)

for i in random_indices:
    example = validate_df[i]
    df = to_pandas(example)
    query = example['query']
    generated_summary = decomposed_predictions[i]
    expected_summary = reference_summaries[i]
    
    # Calculate ROUGE score
    score = scorer.score(expected_summary, generated_summary)


    # Print results
    print(f"Index: {i}")
    print(df.to_markdown())
    print(f"Query: {query}")
    print("\n")
    print(f"Generated Summary: {generated_summary}")
    print("\n")
    print(f"Expected Summary: {expected_summary}")
    print("--" * 50)
    print("\n")

Index: 129
|    | Team                        |   Wins |   Losses |   Percentage | Home   | Away   | Streak   |
|---:|:----------------------------|-------:|---------:|-------------:|:-------|:-------|:---------|
|  0 | Louisiana Swashbucklers     |     13 |        1 |        0.928 | 7 - 0  | 6 - 1  | Lost 1   |
|  1 | Corpus Christi Hammerheads  |     12 |        2 |        0.857 | 6 - 1  | 6 - 1  | Won 4    |
|  2 | Frisco Thunder              |      8 |        6 |        0.572 | 4 - 3  | 4 - 3  | Lost 3   |
|  3 | Odessa Roughnecks           |      8 |        6 |        0.572 | 5 - 2  | 3 - 4  | Won 2    |
|  4 | Katy Ruff Riders            |      7 |        7 |        0.5   | 4 - 3  | 3 - 4  | Won 1    |
|  5 | San Angelo Stampede Express |      4 |       10 |        0.286 | 3 - 4  | 1 - 6  | Lost 1   |
|  6 | Centex Barracudas           |      2 |       12 |        0.143 | 1 - 6  | 1 - 6  | Lost 3   |
|  7 | Alaska Wild                 |      2 |       12 |        0.143 | 2 - 5  | 0 - 7  | Won 2    |
Query: Summarize the teams with a winning streak in the 2007 Intense Football League season.


Generated Summary: The 2007 Intense Football League season saw four teams with winning streaks. The Corpus Christi Hammerheads had the longest winning streak with 12 wins, 2 losses, and a 0.857 winning percentage. The Odessa Roughnecks followed with 8 wins, 6 losses, a 0


Expected Summary: In the 2007 Intense Football League Season, Katy Ruff Riders had a winning streak. They had a 7-7 record with a 4-3 home record and 3-4 away record.
----------------------------------------------------------------------------------------------------


Index: 68
|    |   # | Date     | Visitor    | Score   | Home       | OT   | Decision   | Attendance   | Series   |
|---:|----:|:---------|:-----------|:--------|:-----------|:-----|:-----------|:-------------|:---------|
|  0 |   1 | April 26 | Ottawa     | 5 – 4   | New Jersey |      | Brodeur    | 15,512       | 0 – 1    |
|  1 |   2 | April 28 | Ottawa     | 2 – 3   | New Jersey | 2OT  | Brodeur    | 19,040       | 1 – 1    |
|  2 |   3 | April 30 | New Jersey | 0 – 2   | Ottawa     |      | Brodeur    | 19,636       | 1 – 2    |
|  3 |   4 | May 2    | New Jersey | 2 – 3   | Ottawa     |      | Brodeur    | 20,248       | 1 – 3    |
|  4 |   5 | May 5    | Ottawa     | 3 – 2   | New Jersey |      | Brodeur    | 19,040       | 1 – 4    |
Query: Who made the decision for each game in the series, and is there a correlation between the decisions made and the outcomes of the games?


Generated Summary: In the series, the decision made by the officials for each game was make by Martin Brodeur. In Game 1, Brodear make the decision, and the game ended with a 5-4 win for Ottawa. In game 2, Broadeur make the same decision, but the game was tied at 1-1. In the Game 3, Broadle make the final decision, which ended with the loss for New Jersey.


Expected Summary: In the 2006-07 New Jersey Devils East Conference Semi-finals series play against Ottawa Senators, Brodeur make decision for all five games. Outcome of games not seem strong related with Brodeur's decisions as Devils only win one game in series (Game 2). Overall, Ottawa Senators take series with 4-1 victory, beat New Jersey Devils in most of matchups.
----------------------------------------------------------------------------------------------------


Index: 0
|    | Player                      |   Games Played |   Minutes |   Field Goals |   Three Pointers |   Free Throws |   Rebounds |   Assists |   Blocks |   Steals |   Points |
|---:|:----------------------------|---------------:|----------:|--------------:|-----------------:|--------------:|-----------:|----------:|---------:|---------:|---------:|
|  0 | Moore Maya Moore            |             39 |      1209 |           284 |               90 |            96 |        348 |       127 |       59 |       76 |      754 |
|  1 | Montgomery Renee Montgomery |             39 |      1237 |           226 |               99 |            93 |         82 |       199 |        9 |       61 |      644 |
|  2 | Charles Tina Charles        |             39 |       982 |           259 |                0 |           124 |        348 |        41 |       62 |       35 |      642 |
|  3 | Greene Kalana Greene        |             39 |       990 |           141 |                6 |            50 |        181 |        68 |       11 |       37 |      338 |
|  4 | Doty Caroline Doty          |             17 |       406 |            52 |               30 |            13 |         57 |        33 |        4 |       16 |      147 |
|  5 | Hayes Tiffany Hayes         |             39 |      1002 |           109 |               46 |            63 |        156 |       102 |       15 |       44 |      327 |
|  6 | Mclaren Kaili Mclaren       |             38 |       581 |            61 |                0 |            37 |        130 |        73 |       22 |       19 |      159 |
|  7 | Williams Tahirah Williams   |             33 |       245 |            33 |                0 |            22 |         62 |        22 |        4 |        9 |       88 |
|  8 | Dixon Lorin Dixon           |             39 |       604 |            28 |                2 |            31 |         63 |        71 |        2 |       17 |       89 |
|  9 | Gardler Meghan Gardler      |             32 |       335 |            19 |                5 |            15 |         62 |        21 |        3 |       12 |       58 |
| 10 | Fernandes Jacquie Fernandes |             30 |       141 |             8 |                3 |             4 |         17 |         2 |        0 |        3 |       23 |
Query: Which player(s) scored more than 600 points in the 2008 - 09 Connecticut Huskies Women's Basketball Team? Summarize the basic information of these players.


Generated Summary: The 2008 - 09 Connecticut Huskies Women's Basketball Team had three players who scored more than 600 points. Maya Moore scored 754 points, Montgomery Renee Montgomery scored 644 points, and Charles Tina Charles scored 642 points. Moore played 39 minutes and shot 284 field goals, 90 three-pointers, 96 free throws, and had 348 rebounds. Montgomery played 39 games and shot 226 field goals and had 99 free throws. She had 199 rebounds and 61 assists. Lastly, Charles TinaCharles played 39 game and shot 259 field goals with 124 free throws and 41 rebounds. She also had 62 assists and 35 steals.


Expected Summary: The 2008 - 09 Connecticut Huskies Women's Basketball Team had three players who scored more than 600 points: Maya Moore, Renee Montgomery and Tina Charles. Maya Moore scored 754 points, playing a total of 1209 minutes. She had 284 field goals, 90 three pointers, and 96 free throws. Montgomery Renee Montgomery scored 644 points in 1237 minutes, compiling 226 field goals, 99 three point shots and 93 free throws. Tina Charles scored 642 points in 982 minutes, with 259 field goals and 124 free throws.
----------------------------------------------------------------------------------------------------


Index: 72
|    | Date               | Label                                | Format        | Country   | Catalog     |
|---:|:-------------------|:-------------------------------------|:--------------|:----------|:------------|
|  0 | June 21 , 1965     | Columbia                             | Lp            | Us        | Cl 2372     |
|  1 | June 21 , 1965     | Columbia                             | Lp            | Us        | Cs 9172     |
|  2 | August 20 , 1965   | Cbs                                  | Lp            | Uk        | Bpg 62571   |
|  3 | August 20 , 1965   | Cbs                                  | Lp            | Uk        | Sbpg 62571  |
|  4 | 1970               | Columbia                             | Lp            | Us        | 465566 1    |
|  5 | 1974               | Embassy                              | Lp            | Uk        | Emb 31057   |
|  6 | 1974               | Cbs / Embassy                        | Lp            | Uk        | S 31503     |
|  7 | 1975               | Cbs                                  | Lp            | Uk        | S 33645     |
|  8 | 1987               | Columbia                             | Cd            | Us        | Ck 9172     |
|  9 | 1989               | Cbs                                  | Cd            | Europe    | 465566 2    |
| 10 | 1993               | Columbia                             | Cd            | Uk        | Col 468015  |
| 11 | April 30 , 1996    | Columbia / Legacy                    | Cd            | Us        | Ck 64845    |
| 12 | May 6 , 1996       | Columbia / Legacy                    | Cd            | Uk        | Col 483705  |
| 13 | 1999               | Simply Vinyl                         | Lp            | Uk        | Svlp 0032   |
| 14 | 2003               | Sony                                 | Cd            | Japan     | Mhcp - 66   |
| 15 | 2004               | Sony / Bmg                           | Cd            | Uk        | 4837055003  |
| 16 | February 7 , 2006  | Columbia / Mobile Fidelity Sound Lab | Sacd (Hybrid) | Us        | Udsacd 2014 |
| 17 | February 21 , 2006 | Sundazed                             | Lp            | Us        | Lp 5197     |
| 18 | February 10 , 2009 | Sony / Columbia                      | Cd            | Us        | 743323      |
Query: What are the formats of the album Mr. Tambourine Man released in the US? Summarize the basic information of these releases.


Generated Summary: Mr. Tambourine Man was released in the US in 1987, 1993, 1996, 1996 and 2009. The album was released on Columbia/Legacy and Sony/Columbia/Mobile Fidelity Sound Lab. It was released as a CD, LP, cassette, cassette and CD.


Expected Summary: The album Mr. Tambourine Man has been released in the US in multiple formats. The original US release of the album was on Columbia Records in 1965, with catalog numbers Cl 2372 and CS 9172, both on vinyl LP. It was also reissued by Columbia in 1970 on vinyl LP with catalog number 465566 1. In 1987, a CD of the album was released by Columbia with catalog number CK 9172. Furthermore, a hybrid Super Audio CD edition was released in 2006 by Mobile Fidelity Sound Lab with catalog number UDSACD 2014. Last,on February 10 , 2009 Sony / Columbia released a CD of the album with catalog number 743323.
----------------------------------------------------------------------------------------------------


Index: 185
|    |   Year | Artist          | Album                           | Label        | Shipments (Sales)   | Certification   |
|---:|-------:|:----------------|:--------------------------------|:-------------|:--------------------|:----------------|
|  0 |   1976 | Eagles          | Their Greatest Hits (1971–1975) | Asylum       | 38,000,000          | 38× Platinum    |
|  1 |   1982 | Michael Jackson | Thriller                        | Epic         | 33,000,000          | 33× Platinum    |
|  2 |   1976 | Eagles          | Hotel California                | Asylum       | 26,000,000          | 26× Platinum    |
|  3 |   1971 | Led Zeppelin    | Led Zeppelin IV                 | Atlantic     | 23,000,000          | 23× Platinum    |
|  4 |   1980 | AC/DC           | Back in Black                   | Atlantic     | 22,000,000          | 22× Platinum    |
|  5 |   1977 | Fleetwood Mac   | Rumours                         | Warner Bros. | 20,000,000          | 20× Platinum    |
Query: How many albums achieved a certification of 20× Platinum or higher and what are the names of these albums?


Generated Summary: There are two albums that get certification of 20× Platinum or higher. These albums are Eagles' Greatest Hits (1971-1975) and Fleetwood Mac's Rumours (1977).


Expected Summary: A all total six album getting the certification of 20x Platinum or more high in United States. These album have Their Greatest Hits (1971-1975) from Eagles, Thriller by Michael Jackson, Hotel California also from Eagles, Led Zeppelin IV by Led Zeppelin, Back in Black by AC/DC, and Rumours by Fleetwood Mac. These famous records show some of best-selling artists and albums in U.S. music industry.
----------------------------------------------------------------------------------------------------


Index: 76
|    |   # |   Event year | Season   | Opening flag bearer    | Sport                     | Closing flag bearer   | Sport                     |
|---:|----:|-------------:|:---------|:-----------------------|:--------------------------|:----------------------|:--------------------------|
|  0 |  23 |         2018 | Winter   | Oleksii Bychenko       | Figure skating            | Itamar Biran          | Alpine skiing             |
|  1 |  22 |         2016 | Summer   | Neta Rivkin            | Gymnastics                | Alona Koshevatskiy    | Gymnastics                |
|  2 |  21 |         2014 | Winter   | Vladislav Bykanov      | Short track speed skating | Vladislav Bykanov     | Short track speed skating |
|  3 |  20 |         2012 | Summer   | Shahar Tzuberi         | Sailing                   | Neta Rivkin           | Gymnastics                |
|  4 |  19 |         2010 | Winter   | Alexandra Zaretsky     | Figure skating            | Mykhaylo Renzhyn      | Alpine skiing             |
|  5 |  18 |         2008 | Summer   | Michael Kolganov       | Canoeing                  | Shahar Tzuberi        | Sailing                   |
|  6 |  17 |         2006 | Winter   | Galit Chait            | Figure skating            | Galit Chait           | Figure skating            |
|  7 |  16 |         2004 | Summer   | Ariel Ze'evi           | Judo                      | Gal Fridman           | Sailing                   |
|  8 |  15 |         2002 | Winter   | Galit Chait            | Figure skating            |                       |                           |
|  9 |  14 |         2000 | Summer   | Rogel Nachum           | Athletics                 |                       |                           |
| 10 |  13 |         1998 | Winter   | Michael Shmerkin       | Figure skating            |                       |                           |
| 11 |  12 |         1996 | Summer   | Lydia Hatuel-Zuckerman | Fencing                   |                       |                           |
| 12 |  11 |         1994 | Winter   | Michael Shmerkin       | Figure skating            |                       |                           |
| 13 |  10 |         1992 | Summer   | Eldad Amir             | Sailing                   |                       |                           |
| 14 |   9 |         1988 | Summer   | Itzhak Yonassi         | Shooting                  |                       |                           |
| 15 |   8 |         1984 | Summer   | Zehava Shmueli         | Athletics                 |                       |                           |
| 16 |   7 |         1976 | Summer   | Esther Roth-Shahamorov | Athletics                 |                       |                           |
| 17 |   6 |         1972 | Summer   | Henry Herscovici       | Shooting                  |                       |                           |
| 18 |   5 |         1968 | Summer   | Gershon Shefa          | Swimming                  |                       |                           |
| 19 |   4 |         1964 | Summer   | Gideon Ariel           | Athletics                 |                       |                           |
| 20 |   3 |         1960 | Summer   | Gideon Ariel           | Athletics                 |                       |                           |
| 21 |   2 |         1956 | Summer   | Yoav Ra'anan           | Diving                    |                       |                           |
| 22 |   1 |         1952 | Summer   | Abraham Shneior        | Basketball                |                       |                           |
Query: Has there been an instance where the same athlete was the opening and closing flag bearer for Israel in a single Olympics event, if yes, can you provide details?


Generated Summary: There is one instance where the same athlete was the opening and closing flag bearer for Israel in a single Olympics event. This happened in the 2012 Summer Olympics, with Shahar Tzuberi being the opening flag bearer and Mykhaylo Renzhyn being the closing flag bearer.


Expected Summary: Yes, there has be two time when same athlete is opening and closing flag bearer for Israel in one Olympics event. In 2014 Winter Olympics, Vladislav Bykanov is both opening and closing flag bearer for Israel, he do short track speed skating sport. In 2006 Winter Olympics, Galit Chait is both opening and closing flag bearer for Israel, he do figure skating sport.
----------------------------------------------------------------------------------------------------


Index: 150
|    |   Game# | Date             | Result                                  | Attendance   | Notes                                                                                               |
|---:|--------:|:-----------------|:----------------------------------------|:-------------|:----------------------------------------------------------------------------------------------------|
|  0 |       1 | 18 January 1930  | Australia def. Wales 26–10              | 20,000       | 1929–30 Kangaroo Tour                                                                               |
|  1 |       2 | 30 December 1933 | Australia def. Wales 51–19              | 10,000       | 1933–34 Kangaroo Tour                                                                               |
|  2 |       3 | 12 March 1949    | France def. England 12–5                | 15,000       | 1948–49 European Rugby League Championship First French national team (any sport) to win at Wembley |
|  3 |       4 | 16 October 1963  | Australia def. Great Britain 22–16      | 13,946       | 1963 Ashes series                                                                                   |
|  4 |       5 | 3 November 1973  | Great Britain def. Australia 21–12      | 9,874        | 1973 Ashes series                                                                                   |
|  5 |       6 | 27 October 1990  | Great Britain def. Australia 19–12      | 54,569       | 1990 Ashes series                                                                                   |
|  6 |       7 | 24 October 1992  | Australia def. Great Britain 10–6       | 73,631       | 1992 Rugby League World Cup Final New international rugby league attendance record.                 |
|  7 |       8 | 16 October 1993  | Great Britain def. New Zealand 17–0     | 36,131       | 1993 Great Britain vs New Zealand series                                                            |
|  8 |       9 | 22 October 1994  | Great Britain def. Australia 8–4        | 57,034       | 1994 Ashes series                                                                                   |
|  9 |      10 | 7 October 1995   | England def. Australia 20–16            | 41,271       | 1995 Rugby League World Cup Group A                                                                 |
| 10 |      11 | 28 October 1995  | Australia def. England 16–8             | 66,540       | 1995 Rugby League World Cup Final                                                                   |
| 11 |      12 | 1 November 1997  | Australia (SL) def. Great Britain 38–14 | 41,135       | 1997 Super League Test series                                                                       |
Query: How did the attendance number vary with respect to different international Rugby League matches held in the Wembley Stadium between 1930 and 1997?

